@mixin flex-center (){
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-between () {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

@mixin button-style($bg-color, $text-color) {
  background-color: $bg-color;
  color: $text-color;
  padding: $spacing;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 30px;

  &:hover {
    background-color: darken($bg-color, 10%);
  }
}

@mixin container () {
  min-width: 1920px;
  margin: 0 auto;
  // padding: 0 $spacing;
}
