@import '../scss/variables';
@import '../scss/includes';

.hero {
  padding: 2 * $spacing;
  background-color: $primary-color;
	@include container ();
  
  .hero-text {
    @extend %text-center !optional;

    h1 {
      font-size: 2.5em;
      margin-bottom: $spacing / 2;
    }

    p {
      font-size: 1.2em;
      color: $accent-color2;
    }
  }

  .hero-image {
    @include flex-between ();

    img {
      max-width: 100%;
      border-radius: 10px;
    }
  }
}

