@import '../scss/variables';
@import '../scss/includes';
@import '../scss/extend';

.section4 {
	.portfolio {
		display: flex;
		flex-direction: column;
	}

	.portfolioDiv {
		background-image: url(/images/portfolio/backdrop.svg);
		background-repeat: no-repeat;
		height: 321px;
		background-size: cover;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin-top: -125px;

		h2 {
			margin-top: 100px;
			font-family: 'Montserrat', sans-serif;
			border: 6px solid black;
			padding: 20px 80.9px 20px 79.25px;
			margin-top: 80px;
			margin-left: 100px;
		}
	}
	.portfolioFilter {
		font-family: Montserrat, sans-serif;
		font-weight: 600;
		color: white;
		display: flex;
		background-color: #1a1a1a;
		flex-direction: row;
		justify-content: space-evenly;
		align-items: center;
		height: 15vh;

		.pSpan {
			color: #7c7c7c;
			text-decoration-color: #7c7c7c;
		}
	}

	.projects {
		.pr-row1,
		.pr-row2 {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		justify-items: center;
		margin-left: 0px;
		}

		.projImg {
			min-width: 33.3vw;
			min-height: 30.8vh;
		}

		.projectWriteup {
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
			display: flex;
			flex-direction: column;
			text-align: center;
			color: white;
			margin-top: 50px;

			.pwLine1 {
				font-family: Montserrat, sans-serif;
				font-size: 10px;
				font-style: italic;
				font-weight: 600;
				line-height: 12.19px;
				letter-spacing: 0.095em;
				text-align: center;
			}
			
			.pwLine2 {
				font-family: Montserrat, sans-serif;
				font-size: 25px;
				font-weight: 700;
				line-height: 31.97px;
				letter-spacing: 0.2054em;
				text-align: center;
				margin-top: 10px;
			}
			
			.pwLine3 {
				font-family: Montserrat, sans-serif;
				font-size: 10px;
				font-weight: 500;
				line-height: 12.19px;
				letter-spacing: -0.015em;
				text-align: center;
				margin-top: 10px;
			}
		}

		.pwLine4 {
			display: flex;
			flex-direction: row;
			justify-content: center;
			font-family: Montserrat, sans-serif;
			font-size: 10px;
			font-weight: 500;
			line-height: 12.19px;
			letter-spacing: -0.015em;
			text-align: center;
			margin-top: 10px;

			span {
				border-right: 1px solid white;
				border-left: 1px solid white;
				margin-left: 5px;
				padding-left: 40px;
				padding-right: 40px;
			}
		}
		
		.projectsP {
			font-family: Montserrat, sans-serif;
			font-weight: 600;
			font-size: 20px;
			color: white;
			display: flex;
			background-color: #1a1a1a;
			flex-direction: row;
			justify-content: space-evenly;
			align-items: center;
			height: 10vh;
		}
	}
}











